/* RESET///////////////////////// */
*{
box-sizing:border-box;
padding:0;
margin:0
}

/* CONTAINER////////////////////////////////// */
.container{
  margin: 0 auto;
 border: 1px solid black;

 
.div{
    height:50px;
    width: 100%;
    border:1px solid red;
    
}

}
.cont-main-1{
  height:600px;
    width: 100%;
    background-color: blue;

}
.cont-main-2{
 height:600px;
    width: 100%;
    background-color: blue;
}
.cont-main-3{

}
.cont-main-4{

}

.internal-square-1{
    height:80%;
    width:60%;
    background-color: pink;
    border:1px dashed black;
}


.flex-row{
display:flex;
justify-content:center;
align-items: center;
}
.flex-column{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
  
}


header{
    background-color:rgb(206, 251, 254);
    height: 100px;
 }

.items-header{
    background-color: rgb(238, 186, 17);
    height:50%;
    border:1px dashed black;
}

.center-header-items{
    width:40%;
    text-align: center;
    line-height:50px;
}
.lateral-header-items{
    width:15%;
    text-align: center;
    line-height:50px;
}
