/* RESET///////////////////////// */
*{
box-sizing:border-box;
padding:0;
margin:0
}

/* CONTAINER////////////////////////////////// */
.container{
  margin: 0 auto;
 border: 1px solid black;

 
.div{
    height:50px;
    width: 100%;
      
}

}
.cont-main-1{
  height:600px;
    width: 100%;
    background-color: rgb(10, 10, 126);
    border-bottom: 1px solid rgb(93, 160, 227);

}
.cont-main-2{
 height:700px;
    width: 100%;
   }
.cont-main-3{

}
.cont-main-4{

}

.square-violet{
    height:80%;
    width:60%;
    background-color: violet;
    border:1px dashed black;
}

.square-pink{
     height:80%;
    background-color: pink;
    border:1px dashed black;
}
.square-blu{
     height:80%;
    background-color: blue;
    border:1px dashed black;
}

.square-big{
height:80%;
    width:45%;
}

.square-small{
height:80%;
    width:25%;
}

.bg-white{
    background-color: white;
}
.bg-blu{
    background-color: lightgray;
}

.flex-row{
display:flex;
justify-content:center;
align-items: center;
}
.flex-column{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column; 
}



header{
    background-color:rgb(206, 251, 254);
    height: 100px;
 }

.items-header{
    background-color: rgb(238, 186, 17);
    height:50%;
    border:1px dashed black;
}

.center-header-items{
    width:40%;
    text-align: center;
    line-height:50px;
}
.lateral-header-items{
    width:15%;
    text-align: center;
    line-height:50px;
}
